@model IEnumerable<PlayerViewModel>

@{
  ViewData["Title"] = "D2CFL.Admin";
}

<a asp-controller="Player" asp-action="Index">Players</a>
<a asp-controller="Team" asp-action="Index">Teams</a>
<a asp-controller="Position" asp-action="Index">Positions</a>