@model IEnumerable<PlayerViewModel>

@{
  ViewData["Title"] = "D2CFL.Admin";
}

<h2>Players</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th>Surename</th>
    <th>Position</th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>@item.Name</td>
      <td>@item.Nickname</td>
      <td>@item.Surname</td>
    </tr>
  }
</table>