@model PlayerViewModel

@{
  ViewData["Title"] = "D2CFL.Admin";
}

<h2>Are you realy want to delete @Model.Name</h2>

<div class="btn-group btn-group-justified">
  <form asp-controller="Player" asp-action="Delete" method="post" class="btn-group">
    <input type="submit" value="Delete" class="btn btn-default"/>
  </form>
  <form asp-controller="Player" asp-action="Info/@Model.Id" class="btn-group">
    <input type="submit" value="Back" class="btn btn-default"/>
  </form>
</div>