@model PlayerViewModel

@{
  ViewData["Title"] = "D2CFL.Admin";
}

<h2>Are you realy want to delete @Model.Name @Model.Nickname @Model.Lastname</h2>

<form asp-action="Delete" asp-controller="Player">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button asp-action="Delete" asp-controller="Player" type="submit" class="btn btn-outline-dark">Delete</button>
    </div>
    <a asp-action="Info/@Model.Id" asp-controller="Player" class="btn btn-outline-dark">Back</a>
  </div>
</form>