@model IEnumerable<TeamViewModel>

@{
  ViewData["Title"] = "D2CFL.Admin";
}

<h2>Teams</h2>

<a asp-action="Insert" asp-controller="Team" class="btn btn-default">Add new Team</a>
<p></p>
<table id="teamsTable" class="table table-hover" onmouseover="cursor">
  <tr>
    <th>Name</th>
    <th>Region</th>
  </tr>
  @foreach (var item in Model)
  {
    <tr onclick="viewActivity(@item.Id)">
      <td>@item.Name</td>
      <td>@item.Region</td>
    </tr>
  }
</table>

@section Scripts
{
  <script type="text/javascript">
    $("#teamsTable").css("cursor", "pointer");

    function viewActivity(itemId) {
      var url = "/Team/Info/" + itemId;
      window.location.href = url;
    }
  </script>
}