@model TeamViewModel

@{
  ViewData["Title"] = "D2CFL.Admin";
}

<h2>Add new team</h2>

<form asp-action="Insert" asp-controller="Team">
  <div class="form-group">
    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" asp-for="Name" class="form-control" />
  </div>
  <div class="form-group">
    <label asp-for="Region" class="control-label">Region</label>
    <input type="text" asp-for="Region" class="form-control" />
  </div>
  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-default" />
  </div>
  <a asp-action="Index" asp-controller="Team" class="btn btn-default">Back</a>
</form>